body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

header,main,footer {
    padding: 20px;
}

header {
    background: fixed center;
    height: auto;
    width: auto;
    background-color: #b53535;
}

footer {
    background-color: #f2f2f2;
}